#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.1rem;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  margin: 3rem 0 0
}
p {
  margin: 0 0 16px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.cont-range {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}