
.tw-followCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: .8rem;
}


.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}
.tw-followCard-info {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}
.tw-followCard-info-username {
  opacity: 0.6;
}
.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}


.tw-followCard-aside {
  width: 115px;
  display: flex;
  justify-content: end;
}
.tw-followCard-button {
  margin-left: 16px;
  padding: 6px 16px;
  border: 0;
  border-radius: 999px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
  cursor: pointer;
}
.tw-followCard-button.is-following {
  border: 1px solid red;
  background-color: rgb(231, 59, 46);
  color: #fff;
}
.tw-followCard-text {
  display: block;
}
.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
  width: 115px;
}
.tw-followCard-button:hover {
  background-color: rgb(72, 177, 247);
}
.tw-followCard-button.is-following:hover {
  background-color: rgba(236, 134, 127, 0.24);
}
.tw-followCard-stop-follow {
  display: none;
}
.tw-followCard-button.is-following:hover .tw-followCard-stop-follow {
  display: block;
}
